@import '@/styles/variables';

.header {
    background-color: $white;
    color: $black;
    display: flex;
    justify-content: space-between;
    padding: 22px;
    font-size: 40px;
    font-weight: 300;
    border-bottom: 2px solid $black;
}